.hidden-show:hover{
    color: #6a0202;
}

.red-always{
    color: #6a0202;
}

.red-always-background{
    background-color: #6a0202 !important;
}

.pink-always-red-on-hover{
    color: #ff8094;
}

.pink-always-red-on-hover:hover{
    color: #6a0202;
}

.blue-on-hover:hover {
    color: rgba(130, 154, 241, 0.89);
    transition: 1s;
}

.red-on-hover:hover{
    background-color: rgb(151, 28, 28);
    transition: 0.5s;
}