html {
  font-family: Verdana, sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

.img-div {
  display: flex;
}

.block{
  display:inline-block;
  margin:35px;
  padding-left: 80px
}

.c-button {
  margin: 0 auto;
  display: block;
  font-family: Verdana, sans-serif;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: burlywood;
  color: black;
  padding: 8px 16px;
  font-size: 17px;

}

.main-text {
  position: absolute;
  top: 50%;
  left: 450px;
  text-transform: uppercase;
  color: white;
  width: 350px;
  background: #00000094;
  padding: 10px;
  text-align: center;
  font: bold 24px/34px Verdana, Sans-Serif;
}

.some-text {
  font: bold 22px/34px Verdana, Sans-Serif;
  color: black;
  link: black;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 1140px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0; }

.col-md-1,.col-md {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%; }
  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
}

/*"Иконки"*/
.services {
  /* отступы от иконок */
  display: block;
  width: 100%;
  margin-bottom: 40px;

}
.services .icon {
  line-height: 1.3;
  position: relative;
  inline-size: 100px;
  block-size: 100px;
  background: bisque;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

}
.services .icon span {
  font-size: 50px;
  margin-left:2px;
  margin-top: 25px;
  color: #fff; }

.services:hover .icon {
  /* отвечает за цвет фона иконок при наведении мышью */
  background: #daa592; }

.cover {
  /* отвечает за обложки */
  display: block;
  width: 100%;
  height: 600px;
  margin-bottom: 0;
  background-position: top center !important;
  z-index: 0;
  position: relative; }

.cover:after {
  /* отчевает за блюр обложек книг во время наведения мышкой */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: #daa592;
  opacity: 0;
  z-index: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.cover:hover:after {
  /* блюрит обложки книг при наведении мыши */
  opacity: .5; }

.bg-primary {
  /* отвечает за фон под фильтрами */
  background: bisque;}

.sections {
  /* отвечает за отступы между блоками */
  padding: 6em 0;
  position: relative; }

.footer {
  font-family: Verdana, sans-serif;
  font-size: 17px;
  background: bisque;
  padding: 6em 0;
  inline-size: 100% ;}

.footer a {
  /* отвечает за текст под заголовком "Links" */
  color: black }

/*"Размер обложек"*/
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.dws-menu {
  display: block;
  background: white;
  padding: 15px 30px 15px 40px;
  font-size: 14px;
  color: black;
  text-decoration: none;
  text-transform:uppercase;
  border-radius: 10px
}

.rows {
  display: flex;
  text-align: center;
}

.column {
  flex: 33.33%;
  padding: 5px;
  margin-bottom: 75px
}

.block_cloud {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.block img  {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.block__text {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  background-color: #fde3c3;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.block_cloud:hover .block__text {
  opacity: 1;
}

h3,
p {
  text-align: center;
}